<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUFeedURL</key>
    <string>https://rmarinsky.github.io/papuga/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>E+U25RLLvknFBaJXFMZ5YnpN4gRJLsavDNEGc+M2xk0=</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
